<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lairdtech.bl600toolkit"
    android:versionCode="2"
    android:versionName="1.19.1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.lairdtech.bl600toolkit.application.BL600Application"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        
        <!-- Main - Disclaimer -->
        <activity android:name="com.lairdtech.bl600toolkit.activities.FragmentsContainerActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        activity which holds all fragments, each fragment represents a full functionality
        for example heart rate, temperature, blood pressure etc
        -->
    <!--     <activity
            android:name="com.lairdtech.bl600toolkit.activities.FragmentsContainerActivity"
            android:screenOrientation="portrait" >
        </activity>-->
        <!-- settings screen -->
        <activity
            android:name="com.lairdtech.bl600toolkit.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>